<div class="tab-pane active clearfix" role="tabpanel" id="step1">
    <?= $this->Form->create($candidatecomplete,array('url' => array(
                'controller' => 'Candidates',
                'action' => 'set-session',
                $candId,$companyId
                ),
                'id' => 'candidate-apply-first-step')
            ); 
    ?>
    <div class="step1">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 subheading">
                    <h3>Personal Information</h3>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Social Security#</label>
                        <?php
                            echo $this->Form->input('social_security',
                                array(
                                    'class' => 'form-control',
                                    'div' => false,
                                    'label' => false,
                                    
                                )
                            );
                        ?>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>position Applied For</label>
                        <?php
                            echo $this->Form->input('job_id',
                                array(
                                    'class' => 'form-control',
                                    'div' => false,
                                    'label' => false,
                                    'value' => $candidates['job']->job_title,
                                    'type' => 'text',
                                    'readonly'
                                )
                            );
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>List names of any relatives employed by our company</label>
                        <?php
                            echo $this->Form->input('relative_employed',
                                array(
                                    'class' => 'form-control',
                                    'div' => false,
                                    'label' => false,
                                    'rows' => 4,
                                    'type' => 'textarea'
                                )
                            );
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>What Languages do you speak</label>
                <?php
                    echo $this->Form->input('language_ids',
                        array(
                            'class' => 'form-control languages-speak',
                            'div' => false,
                            'label' => false,
                            'options' => $language,
                            'multiple' => 'multiple',
                            'id' => 'dates-field2'
                        )
                    );
                ?>
            </div>
        </div>
    </div>
    <ul class="list-inline col-sm-12">
        <li><button type="submit" class="btn btn-blue next-step">Next</button></li>
    </ul>
    <?= $this->Form->end()?>
</div>