/* Base Css
-------------------------------------------------- */

body {
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
}
.padding-left {
    padding-left: 0;
}
.padding-right {
    padding-right: 0;
}
.row-margin {
    margin-left: 0;
    margin-right: 0;
}
.red-star {
    color: red;
}
/* Top Navbar Settings
-------------------------------------------------- */

.navbar-default {
    background-color: #184071;
    border-color: transparent;
    border-radius: 0;
    /*border-bottom:1px solid #274e7b;*/
    
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus{
    color:#fff;
}

.navbar {
    min-height: 67px;
    margin-bottom: 0;
    box-shadow: 0 0 10px #ccc;
}
.navbar-brand {
    padding: 8px;
    height: 74px;
}
.navbar-nav>li>a {
    line-height: 67px;
}
.text-muted {
    color: #fff;
    margin-top: 21px;
}

.btn-blue,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background-color: #184071;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    border-color: #184071;
    border-width: 2px;
    padding: 7px 30px;
}
.btn-cancel {
    background-color: #fff;
    border-color: #184071;
    border-width: 2px;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    padding: 7px 30px;
}
.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:focus {
    background-color: #184071;
    color: #fff;
}


.navbar-toggle {
    margin-top: 20px;
}

.filter-option {
    background: #f2f2f2;
    padding: 10px;
}

.filter-option label {
    margin-top: 7px
}

.top-home-section h1{
    color:#818181;
    font-weight: 400;
    padding: 20px 0;
    margin-top: 0;

}

.top-home-section p {
    color:#818181;
    line-height: 32px;
}

.top-home-section {
    margin-bottom: 42px;
    padding: 25px 40px;
}

.homaer-page-application{
    box-shadow: 0 1px 15px #ccc;
   /* padding: 25px;*/
    margin-top: 50px;

}

.table-home {
      padding: 0 45px 25px;
}
  
.table-home table th {
    background-color: #3e8dca;
    color:#fff
}  

.table-home .table>tbody>tr>td, 
.table-home .table>tbody>tr>th, 
.table-home .table>tfoot>tr>td, 
.table-home .table>tfoot>tr>th, 
.table-home .table>thead>tr>td, 
.table-home .table>thead>tr>th {
    padding: 13px;
}

.company-name {
    color:#184071;
    font-weight: 600;
}


.job-description-home .homaer-page-application {
    padding: 30px;
}

.job-description-home h1 {
    margin-top: 45px!important;
}

.bottom-btn {
    margin-top: 30px;
}

.jd-page .form-group {
    margin-bottom: 30px;
}

@media( max-width: 767px) {
    .btn-cancel {
        padding: 7px 20px;
    }

    .container .text-muted {
        margin: 20px 0;
    } 

    .navbar-header img {
        width: 85px;
    } 

    .navbar-nav>li>a {
        line-height: 27px;
    }

    .job-description-home .homaer-page-application {
        padding: 30px 0;
    }

    .homaer-page-application {
        margin-top: 25px;
    }

    .job-description-home h1 { 
        margin-top: 25px!important; 
        font-size: 26px;
        margin-bottom: 0;  
    }  

    .top-home-section {
        margin-bottom: 42px;
        padding: 25px 25px;
}

.top-home-section h1 {
    color: #818181;
    font-weight: 400;  
    padding: 20px 0;
    margin-top: 0;
    font-size: 27px;
    text-align: center;
}

}
.wizard {
    /* margin: 20px auto;*/
    
    background: #fff;
    margin-bottom: 80px;
    padding-bottom: 40px;
}
.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}
.wizard > div.wizard-inner {
    position: relative;
}
.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
}
span.round-tab i {
    color: #555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}
.wizard li.active span.round-tab i { 
    color: #5bc0de;
}
span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}
.signup-page .wizard .nav-tabs > li {
    width: 50%;
}
 .employee-application .wizard .nav-tabs > li {
    width: 33.3%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}
.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}
.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.wizard .nav-tabs > li a:hover {
    background: transparent;
}
.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}
.wizard h3 {
    margin-top: 0;
}
.step1 .row {
    margin-bottom: 10px;
}
.step_21 {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
}
.step33 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.dropselectsec {
    width: 68%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.dropselectsec1 {
    width: 74%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.mar_ned {
    margin-bottom: 10px;
}
.wdth {
    width: 25%;
}
.birthdrop {
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    width: 16%;
    outline: 0;
    font-weight: normal;
}
.star {
    color : red;
}
.logo-image{
    height : 70px;
}