.candidates .panel-title i.fa {
    float: right;
    -webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
}

.candidates .panel-title > a[aria-expanded="true"] > i[class*="fa-a"] {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-body label + div {
    padding: 8px;
    border: 1px solid #f5f5f5;
}

.panel-body table th {
    background-color: #fff;
    color: inherit;
}

.panel-body .table-responsive {
    border: none;
    padding: 0;
}

.panel-body table .fa-times {
    color: #FF0000;
}

.panel-body table .fa-check {
    color: #45bf45;
}

.interview-question table > tbody > tr > td:first-child,
.interview-question table > tbody > tr > th:first-child {
    width: 150px;
}

.interview-question table > tbody > tr > td:nth-child(2),
.interview-question table > tbody > tr > th:nth-child(2) {
    width: calc(100% - 250px);
}

.interview-question table > tbody > tr > td:last-child,
.interview-question table > tbody > tr > th:last-child {
    width: 100px;
}

.interview-question .table-responsive + .table-responsive {
    margin-top: 20px;
}