._cssimg{
	color: rgb(185, 185, 185);
    border: 3px dashed rgb(232, 232, 232);
    padding: 4%;
   /* line-height: 3;*/
    margin: 5px 1%;
   /* position: absolute;*/
    cursor: pointer;
    border-radius: 10px;
    text-shadow: 1px 1px 1px white;
    background-color: rgba(234, 234, 234, 0.35);
    font-family: sans-serif;
    opacity: 0.7;
    text-align: center;
    height: 150px;
    width: 150px;
}
._cssimg:hover{
    opacity: 1;
}
._cssimg:before{
	content:attr(text-file);
}
._cssimg input[type=file],._imgshow input[type=file]{
	display: none;
}

._imgshow{
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
._imgshow:hover{
   opacity: 1;
}
._imgshow img{
    border: 1px solid silver;
    border-radius: 10px;
    background-color: white;
    padding: 2px;
    max-width: 150px;
    min-width: 150px;
}
.loader{
    background-image: url(../img/loader.gif);
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: 100%;
    position: absolute;
    margin: 1%;
    display: none;
}
 
._cssimg {
    font-size: 60px;
}