/* Base Css
-------------------------------------------------- */

body {
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
    background-color: #3f8dcb;
}
.padding-left {
    padding-left: 0;
}
.padding-right {
    padding-right: 0;
}
.row-margin {
    margin-left: 0;
    margin-right: 0;
}
.red-star {
    color: red;
}
/* Top Navbar Settings
-------------------------------------------------- */

.navbar-default {
    background-color: #fff;
    /*border-bottom:1px solid #274e7b;*/
    
    ;
}
.navbar {
    min-height: 74px;
    margin-bottom: 0;
}
.navbar-brand {
    padding: 8px;
    height: 74px;
}
.navbar-nav>li>a {
    line-height: 44px;
}
.text-muted {
    color: #fff;
}
.signup-wrapper {
    padding: 30px 20px;
    background-color: #fff;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 4px;
}
.signup-page h1,
.employee-application h1{
    margin-bottom: 40px;
    color: #fff;
    font-weight: 300;
    font-size: 40px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
.login-page h1 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 300;
    font-size: 40px;
    margin-top: 20px;
}
.login-page .fa {
    color: #184071;
    font-size: 20px;
}
.login-page label {
    font-weight: 500;
}
.signup-page .form-control,
.login-page .form-control,
.employee-application .form-control {
    height: 44px;
    border-radius: 4px;
}
.outer-bg {
    background-color: #3f8dcb;
}
.signup-page label,
.employee-application label{
    font-weight: 500;
    color:#5f5d5d;
}
.btn-blue,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background-color: #184071;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    border-color: #184071;
    border-width: 2px;
    padding: 7px 30px;
}
.btn-cancel {
    background-color: #fff;
    border-color: #184071;
    border-width: 2px;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    padding: 7px 30px;
}
.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:focus {
    background-color: #184071;
    color: #fff;
}
.border-bottom {
    border-top: 1px solid #cccccc;
    margin-top: 6%;
}
.border-bottom span {
    color: #818181;
    display: inline-block;
    margin-top: 6%;
}
.forget-pass {
    margin-top: 16px;
}
.logo-login img {
    margin: 0 auto;
    width: 200px;
    margin-bottom: 15px;
}
.forget-title {
    color: #333;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 300;
    /* margin-top: 25px; */
    
    ;
}
.forget-text {
    color: #9b9b9b;
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 300;
}
.navbar-toggle {
    margin-top: 20px;
}
.wizard {
    /* margin: 20px auto;*/
    
    background: #fff;
    margin-bottom: 80px;
    padding-bottom: 40px;
}
.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}
.wizard > div.wizard-inner {
    position: relative;
}
.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
}
span.round-tab i {
    color: #555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}
.wizard li.active span.round-tab i { 
    color: #5bc0de;
}
span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}
.signup-page .wizard .nav-tabs > li {
    width: 50%;
}
 .employee-application .wizard .nav-tabs > li {
    width: 33.3%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}
.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}
.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.wizard .nav-tabs > li a:hover {
    background: transparent;
}
.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}
.wizard h3 {
    margin-top: 0;
}
.step1 .row {
    margin-bottom: 10px;
}
.step_21 {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
}
.step33 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.dropselectsec {
    width: 68%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.dropselectsec1 {
    width: 74%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.mar_ned {
    margin-bottom: 10px;
}
.wdth {
    width: 25%;
}
.birthdrop {
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    width: 16%;
    outline: 0;
    font-weight: normal;
}
/* according menu */

#accordion-container {
    font-size: 13px
}
.accordion-header {
    font-size: 13px;
    background: #ebebeb;
    margin: 5px 0 0;
    padding: 7px 20px;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}
.unselect_img {
    width: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.active-header {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background: #F53B27;
}
.active-header:after {
    content: "\f068";
    font-family: 'FontAwesome';
    float: right;
    margin: 5px;
    font-weight: 400
}
.inactive-header {
    background: #333;
}
.inactive-header:after {
    content: "\f067";
    font-family: 'FontAwesome';
    float: right;
    margin: 4px 5px;
    font-weight: 400
}
.accordion-content {
    display: none;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px
}
.accordion-content a {
    text-decoration: none;
    color: #333;
}
.accordion-content td {
    border-bottom: 1px solid #dcdcdc;
}

.employee-application textarea{
    height: auto !important
}
.subheading h3 {
    margin-bottom: 20px;
    font-weight: 400;

}

@media( max-width: 767px) {
    .btn-cancel {
        padding: 7px 20px;
    }
    .container .text-muted {
        margin: 10px 0;
    }
    .wizard .nav-tabs {
        margin-top: 0;
    }
    ._cssimg {
        padding: 8% !important;
    }
    .wizard {
        width: 100%;
        height: auto !important;
        padding-bottom: 80px;
    }
    span.round-tab {
        font-size: 12px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
label.error{
    color : red;
}
.star{
    color:red;
}