#signup .short{
    font-weight:bold;
	color:#FF0000;
	font-size:larger;
}
#signup .weak{
    font-weight:bold;
	color:orange;
	font-size:larger;
}
#signup .good{
    font-weight:bold;
	color:#2D98F3;
	font-size:larger;
}
#signup .strong{
    font-weight:bold;
	color: limegreen;
	font-size:larger;
}