/* Base Css
-------------------------------------------------- */

body {
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
}

.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}

.row-margin {
    margin-left: 0;
    margin-right: 0;
}

.red-star {
    color: red;
}

.box-tb {
    display: table;
    width: 100%;
}

.box-row {
    display: table-row;
}

.box-cell {
    display: table-cell;
    padding: 8px;
}


#candidate-error {
    display: block;  
}

#collapseEight img  {
    width: 400px;
    height: 400px;
}

/* Top Nav Settings
-------------------------------------------------- */

.logo-mini > img {
    margin-top: 19px;
    width: 44px;
}

.sidebar-menu .fa {
    font-size: 22px;
    padding-right: 33px;
    color: #757d89;
}

.glyphicon.glyphicon-menu-hamburger {
    color: #fff;
}

.search-top {
    font-size: 20px;
    color: #fff;
    padding: 29px 2px 21px 0px;
    text-transform: uppercase;
}

.nav-custom {
    height: 80px;
}

.main-header .sidebar-toggle {
    padding-top: 29px !important;
}

.sidebar-menu .treeview-menu .fa {
    color: #757d89 !important;
}

.sidebar-menu .treeview:hover .fa {
    color: #fff;
}

.skin-blue .treeview-menu > li > a {
    border-left: 6px solid #fff;
}

.skin-blue .treeview-menu > li > a:hover {
    border-left-color: #25569b;
}

.logo-lg img {
    width: 250px;
}


/* Dashboard
-------------------------------------------------- */

.dashboard-title {
    color: #757d89;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 0;
}

.main-title {
    color: #757d89;
    font-size: 20px;
    padding: 14px 30px;
    text-transform: uppercase;
}

.top-title-dash {
    padding: 25px 23px;
}

.btn-blue,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background-color: #184071;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    border-color: #184071;
    border-width: 2px;
    padding: 10px 28px;
}

.top-title-dash h2 {
    font-weight: 400;
}

.btn-cancel {
    background-color: #fff;
    border-color: #184071;
    border-width: 2px;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    padding: 7px 30px;
}

.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:focus {
    background-color: #184071;
    color: #fff;
}

.actions a {
    padding-left: 10px;
    font-size: 18px;
}

.setup-page table th {
    background-color: #3e8dca;
    color: #fff;
}

.setup-page .table>tbody>tr>td,
.setup-page .table>tbody>tr>th,
.setup-page .table>tfoot>tr>td,
.setup-page .table>tfoot>tr>th,
.setup-page .table>thead>tr>td,
.setup-page .table>thead>tr>th {
    padding: 12px;
}

label.error {
    color: red;
}

.candidates .form-control {
    height: 47px;
}

.advanced-filter-from {
    display: none;
}

.filter-section {
    margin-bottom: 25px;
}

.advanced-filters i {
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .content-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .main-sidebar,
    .left-side {
        padding-top: 164px !important;
    }
    .main-sidebar {
        box-shadow: none !important;
    }
    .book-img-recently-publish {
        padding: 15px;
    }
    .panel-title {
        font-size: 16px;
    }
    .content-wrapper {
        margin-top: 65px;
    }
    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        background: #3c95d1 !important;
        color: #fff !important;
    }
    .addBook .modal-dialog {
        padding: 15px;
    }
    .modal-dialog {
        margin: 0;
    }
    .addBook .modal-content {
        height: auto;
    }
    .book-img img {
        margin: 0 auto;
    }
    .book-title,
    .view-book,
    .publish-date {
        text-align: center;
    }
    .main-title {
        font-size: 16px;
    }
    .btn-blue-border {
        background-color: #fff;
        border: 2px solid #0394d6;
        border-radius: 25px;
        font-size: 12px;
        padding: 9px 20px;
        color: #0394d6;
        text-transform: uppercase;
        margin-top: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    .book-img-recently-publish img {
        margin: 0 auto;
    }
}


/*************Vinod singh*************/

.ancher {
    background: #3E8DCA none repeat scroll 0 0;
    border: 2px solid #3E8DCA;
    display: table;
    float: left;
    font-size: 18px;
    height: 170px;
    margin: 10px 10px 30px;
    text-align: center;
    width: 153px;
    color: #fff
}

.ancher span {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.ancher:hover {
    background: #333;
    border-color: #fff
}

.ancher:hover span {
    color: #fff;
}

a.small,
a.small:hover,
a.small:focus {
    font-size: 14px;
    padding: 4px 20px;
}

.top-header [class*="fa-arrow-circle"] {
    font-size: 25px;
}

.top-header .fa-arrow-circle-right {
    padding: 15px 0;
}

.top-header {
    background: #f2f2f2 none repeat scroll 0 0;
}

.setup-page {
    padding: 30px 15px;
}

.table-bordered.thik,
.table-bordered.thik td,
.table-bordered.thik tr th {
    border: 2px solid #c3c3c3;
    padding: 15px 20px
}

.table-bordered.thik .fa {
    font-size: 24px;
    margin-left: 20px
}

.table-bordered.thik td.no-border-right {
    border-left: 0px;
}

@media (min-width: 767px) {
    .btn-margin {
        margin-top: 25px;
    }
}

.wizard {
    /* margin: 20px auto;*/
    
    background: #fff;
    margin-bottom: 80px;
    padding-bottom: 40px;
}
.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}
.wizard > div.wizard-inner {
    position: relative;
}
.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
}
span.round-tab i {
    color: #555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}
.wizard li.active span.round-tab i { 
    color: #5bc0de;
}
span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}
.signup-page .wizard .nav-tabs > li {
    width: 50%;
}
 .employee-application .wizard .nav-tabs > li {
    width: 16.3%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}
.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}
.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.wizard .nav-tabs > li a:hover {
    background: transparent;
}
.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}
.wizard h3 {
    margin-top: 0;
}
.step1 .row {
    margin-bottom: 10px;
}
.step_21 {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
}
.step33 {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.dropselectsec {
    width: 68%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.dropselectsec1 {
    width: 74%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.mar_ned {
    margin-bottom: 10px;
}
.wdth {
    width: 25%;
}
.birthdrop {
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    width: 16%;
    outline: 0;
    font-weight: normal;
}
.star {
    color : red;
}