html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.glyphicon {
    color: #184071;
    font-size: 16px;
}

.col-center {
    float: none;
    margin: auto;
}

.site-wrapper {
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    background: #f4f4f4;
}

.main-center {
    background: #fff;
    width: 385px;
    padding: 80px 65px;
}

.signup-form .form-control {
    border-radius: 4;
}

.signup-section {
    background: #fff;
    border-radius: 5px;
    color: #fff;
    padding: 0;
    width: 800px;
    box-shadow: 0 2px 5px #000;
}

.left-section{
    float: left;
/*  width: 300px;*/
    padding: 20px;
    margin-top: 20px;
}

.right-section {
    float: left;
    padding: 25px;
    background-color: #3f8dcb;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 465px;

}

.signup-form {
    padding: 15px 15px 0;
}


.sign-up-text {
   color: #797979;
    font-size: 14px;
    font-style: italic;
    margin-top: 56px;
}


.sign-up-title {
    color: #000000;
    font-size: 24px;
    font-weight: 300;
}

.dark-red-text {
    color: #623e56;
    margin-top: 5px;
}

.client-name {
    color:#797979;
    font-weight: bold;
}

.btn-border-white {
    border: 1px solid #184071;
    border-radius: 4px;
    color: #fff;
    background-color: #184071;
} 

.btn.btn-border-white:hover,
.btn.btn-border-white:active,
.btn.btn-border-white:focus  {
    color:#fff;
    background-color: #184071;
}

.right-section h2 {
    margin-top: 7px;
    font-weight: lighter;
}

.already-text a {
    margin-top: 10px;
    color: #e2bd86;
}
.already-text {
    margin-top: 10px;
}

.ti-email,
.ti-key {
    color: #623e56;
    font-size: 18px;
}

.right-section .input-group-addon {
    background-color: #fff;
}

.input-group-addon:first-child {
    border-right: 1px solid #623e56;
}

.text-left.login-heading {
    padding-left: 15px;
    font-weight: lighter;
}

.text-white a {
    color: #fff;
}

.text-orange {
    color: #e2bd86;
}
.btn-white  {
    color: #000;
    background-color: #FFF;
}

.btn-white:hover,
.btn-white:active,
.btn-white:active {
    background-color: #e2bd86;
    color: #fff;
}

.forget-text {
    margin-bottom: 30px;
}

.copyright-text.text-center {
    margin-top: 90px;
}

.forget-btn {
    margin-top: 26px;
}


label.error {
    color:red;
    font-weight:400;
    font-size: 13px;
    /*position: fixed;*/
}
.signup-section {
    width: 800px;
}

.login-layout-wraper{
    width:800px;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
   .signup-section, 
   .login-layout-wraper {
       width: auto;
   }

   .text-left.login-heading {
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
    padding-left: 0;
}

}

.fa-icon::before {
    background:url('../../img/stripe.png') no-repeat;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 25px;
    height: 24px;
}

.fa-email::before {
    background-position: -72px -260px;
}

.fa-key::before {
     background-position: -72px -112px;
}

.input-group-addon:first-child {
    border-right: medium none;
}

.login .form-control {
    border:none;
    height: 36px;
}

.bottom-login {
    margin-top: 30px;
}

.trust {
    margin-left: 10px;
}

.input-group-addon {
    border:none;
}

/*.login .input-group:first-child{
    margin-bottom: 10px;
}
*/
.bootstrap-switch {
    vertical-align: text-bottom !important;
}


.login .form-group{
    margin-bottom: 28px;
}

.create-account .form-group  {
    margin-bottom: 25px;
}
.logo-img img {
    width: 250px;
}
.footer h4 {
    padding-top: 147px;
}